@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

body {
    font-family: "Unbounded", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 400px;
}

body button {
    width: 290px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.247);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
}

body button:hover {
    cursor: pointer;
    background-color: rgb(33, 35, 32);
    color: white;
}

body img {
    width: 200px;
    height: 200px;
}
